* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(83, 39, 83);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}

.container {
  background: lightgrey;
  min-width: 280px;
  min-height: 400px;
  padding: 1.5rem;
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
}

h2 {
  margin-bottom: 40px;
  font-size: 45px;
  color: rebeccapurple;
}

#email {
  height: 30px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#password {
  height: 30px;
  margin-bottom: 20px;
  border-radius: 5px;
}

#continue {
  height: 40px;
  color: rebeccapurple;
  border-radius: 30px;
  margin-bottom: 20px;
}

span {
  font-size: 20px;
}

.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 30px;
}
